nav {background-color: #4FD3C4    ;}
nav a {color:#533E85;}
nav a:hover {background-color: #C1F8CF;}
nav {padding: 10px;}
nav {margin-bottom: 30px;} 

body {background-color: #D3FFF5;}
.evenrow {background-color:#C1F8CF;}
@media only screen and (max-width: 800px)
{
    nav a {display: block;
width: 100%;
padding:10px;}
span {display: none;}
}