.h1 { 
    font-weight: bold;
    font-family:'Times New Roman', Times, serif;
}

#text {
font-family: 'Courier New', Courier, monospace;
}


.namenav {display: flex;}
@media only screen and (max-width: 800px)
{
    nav a { display: block;
            width: 100%;
            padding:10px;}
    span {  display: none;}
} 

.link {
    color:#ffffff;
}

.nav1 {
    background-color: #000000;
    color: #ffffff;
    float:right;
    border-radius: 15px;
    padding: .8em;
    font-weight: bold;
    font-family:'Courier New', Courier, monospace;
    }
.nav1 a:hover {background-color: #59555d;}    


/* flexbox */

.row1, .row3 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 30px;
    padding: 10px;
}

.row2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 35px;
}


/* images */

.one {
    width:20%;
    height: 20%;
    justify-content: center;
    display: center;
    flex:2
}
.two{
    width: 15%;
    height: 15%;
    flex:1
}
.three {
    width: 30%;
    height: 30%;
    flex:1
}

.four,.five,.six,.seven,.eight,.nine {
    width: 40%;
    height: 40%;
    flex:1
}


.ten,.eleven,.twelve {
    width: 55%;
    height: 55%;
    flex:1
}

/* text */

.paragraph1 {
    flex:1
}
.paragraph2 {
    flex: 3
}
.text3 {
    flex: 6;
}


/* contact */
