.h1 { 
    font-weight: bold;
    font-family:'Times New Roman', Times, serif;
}

#text {
font-family: 'Courier New', Courier, monospace;
font-weight: 200%;
}
#title {
    font-family: 'Courier New', Courier, monospace;
}


.namenav {display: flex;}
@media only screen and (max-width: 800px)
{
    nav a { display: block;
            width: 100%;
            padding:10px;}
    span {  display: none;}
} 

.link {
    color:#ffffff;
}

.nav1 {
    background-color: #000000;
    color: #ffffff;
    float:right;
    border-radius: 15px;
    padding: .8em;
    font-weight: bold;
    font-family:'Courier New', Courier, monospace;
    }
.nav1 a:hover {background-color: #59555d;}    


/* flexbox */

.row1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 30px;
    padding: 10px;
    text-align: center;
}

.row2, .row3 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 25px;
    text-align: center;
}

.photorow {
    display: flex;
    
}

.row4,.row5,.row6 {
    flex-direction: column;
    margin: 35px;
    padding: 10px;
}

.row7 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 35px;
}

/* images */

.photoone {
    padding: 17px;
    width: 55%;
    height: 55%;
    flex:1
}
.phototwo {
    padding: 17px;
    width: 45%;
    height: 45%;
    flex:1
}
.photothree {
    padding: 17px;
    width: 80%;
    height: 80%;
    flex:1
}

.photofour {
    height: 50%;
    width: 50%;
}

.one {
    width:20%;
    height: 20%;
    justify-content: center;
    display: center;
    flex:2
}
.two {
    width: 15%;
    height: 15%;
    flex:1
}
.three,.fourteen {
    width: 30%;
    height: 30%;
    flex:1
}

.fifteen {
    width: 35%;
    height: 35%;
    flex:1
}

.four,.five,.six,.seven,.nine,.sixteen,.nineteen,.twenty  {
    width: 40%;
    height: 40%;
    flex:1
}

.eight,.seventeen {
    width: 45%;
    height: 45%;
    flex:1
}

.ten,.twelve,.twentyone,.eleven {
    width: 55%;
    height: 55%;
    flex:1
}

.thirteen {
    width: 75%;
    height: 75%;
    flex:1
}

.eighteen {
    width: 155%;
    height: 155%;
    flex:1 
}

/* text */

.paragraph1 {
    flex:5
}
.paragraph2 {
    flex: 5
}


/* contact */
